.subscription {
    display: flex;

    &__field {
        border-radius: 0.4rem 0 0 0.4rem;
        border-right: none;

        &:hover, &:focus {
            border-right: none;
        }

        &:hover ~ .subscription__button,
        &:focus ~ .subscription__button {
            border-color: $dark-shade-50-percent;
            border-left: none;
        }
    }

    &__button {
        @include arrow(4.4rem, 4.4rem, $purple);

        flex: 1 1 auto;
        border: 0.1rem solid $dark-shade-25-percent;
        background: transparent;
        border-radius: 0 0.4rem 0.4rem 0;
        border-left: none;
        transition: 0.2s;
    }
}