//- Common button. Has no paddings, looks like simple text.
mixin button(textContent)
    button.form__button.button= textContent

//- So called ghost button with no color background inside.
mixin button-ghost(textContent)
    button.form__button.button.button_ghost
        .button__wrapper
            .button__border-wrap
                .button__empty
        .button__text= textContent

//- Button that looks like ghost buttons but filled with color.
mixin button-filled(textContent)
    button.form__button.button.button_filled= textContent

//- Button with arrow on right side. Usually in wide container.
mixin button-with-arrow(textContent)
    button.form__button.button.button_filled.button_with-arrow= textContent
        span.button__arrow
