extends ../template/template.pug

block pageTitle
    | Toxin Landing Page

block main 

    main.layout.layout_for-landing 
        .layout__background-overlay
            .layout__background 
                img(src=require('../../assets/img/landing-page-bg/landing-page-bg-01.jpg'), alt="landing section background")
            .layout__background
                img(src=require('../../assets/img/landing-page-bg/landing-page-bg-02.jpg'), alt="landing section background")
            .layout__background
                img(src=require('../../assets/img/landing-page-bg/landing-page-bg-03.jpg'), alt="landing section background")
        .layout__container
            .layout__card 
                .card 
                    form.form__card
                        .card__row 
                            +card-title("Найдём номера под ваши пожелания")
                        .card__row
                            +card-date-picker("Прибытие", "Выезд")
                        .card__row.card__row_big-bottom-margin 
                            +card-dropdown("Гости", ["Сколько гостей", ["Взрослые", "Дети", "Младенцы"], true])
                        .card__row.card__row_without-bottom-margin 
                            +card-wide-button("Подобрать номер")
