include ../../blocks/text-field/text-field.pug
include ../../blocks/checkbox/checkbox.pug
include ../../blocks/dropdown/dropdown.pug
include ../../blocks/like-button/like-button.pug
include ../../blocks/star-button/star-button.pug
include ../../blocks/bullet-list/bullet-list.pug
include ../../blocks/range-slider/range-slider.pug
include ../../blocks/button/button.pug
include ../../blocks/datepicker/datepicker.pug
include ../../blocks/user-review/user-review.pug
include ../../blocks/room-info/room-info.pug
include ../../blocks/expandable-list/expandable-list.pug
include ../../blocks/subscription/subscription.pug
include ../../blocks/pagination/pagination.pug
include ../../blocks/card/card.pug
include ../../blocks/room-card/room-card.pug
include ../../blocks/nav/nav.pug
include ../../blocks/header/header.pug
include ../../blocks/footer/footer.pug
include ../../blocks/toxin/toxin.pug

block variables

    - pageTitle = "MetaLamp Frontend"

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title
            block pageTitle
    body 

        .wrapper 
            .flexible__wrapper 

                +toxin-header 

                block main 
                
                +toxin-footer
