.ui-kit {
    width: 100%;
    padding: 30px 15px;

    &__content {
    }

    &__container-box {
        max-width: 26.6rem;
        margin: 3rem 0;

        &_big {
            max-width: 32rem;
            margin: 3rem 0;
        }

        &_long {
            max-width: 71rem;
        }

        &_with-likes {
            display: flex;
            width: 10rem;
            justify-content: space-between;
            margin: 0 0 3rem 0;
        }

        &_with-stars {
            display: flex;
            width: 28rem;
            justify-content: space-between;
        }

        &_for-range-slider {
            width: 30rem;
            margin: 4rem 0;
        }
    }

    &__label-text {
        margin: 0 0 0.5rem 0;
    }

    &__grid {
        display: grid;
        grid-template: 1fr 1fr / 10rem 10rem;
        column-gap: 2rem;
        row-gap: 3rem;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }

    &__card-container {
        margin-bottom: 4rem;
    }

    &__header-container {
        margin: 4rem;
    }
}