include ../blocks/form/text-field/text-field.pug
include ../blocks/form/checkbox/checkbox.pug
include ../blocks/form/dropdown/dropdown.pug
include ../blocks/form/like-button/like-button.pug
include ../blocks/form/star-button/star-button.pug
include ../blocks/form/bullet-list/bullet-list.pug
include ../blocks/form/range-slider/range-slider.pug
include ../blocks/form/button/button.pug
include ../blocks/form/datepicker/datepicker.pug
include ../blocks/form/user-review/user-review.pug
include ../blocks/form/room-info/room-info.pug
include ../blocks/form/expandable-list/expandable-list.pug
include ../blocks/form/subscription/subscription.pug

form.ui-kit

    .ui-kit__container-box.ui-kit__container-box_big
        .ui-kit__label-text.text.text_label Text field
        +text-field("text", "sometext", "Text sample")

    .ui-kit__container-box_big
        .ui-kit__label-text.text.text_label Email field
        +text-field("email", "email-sample", "Email sample")

    .ui-kit__container-box_big
        .ui-kit__label-text.text.text_label Dropdown
        +dropdown("Сколько гостей", ["Спальни", "Кровати", "Ванные комнаты"])
    .ui-kit__container-box_big
        .ui-kit__label-text.text.text_label Single Dropdown
        +dropdown("Сколько гостей", ["Взрослые", "Дети", "Младенцы"], true)

    .ui-kit__container-box_big
        .ui-kit__label-text.text.text_label Masked Text Field
        +text-field("num", "masked-date", "", true)

    .ui-kit__container-box
        .ui-kit__label-text.text.text_label Subscription field 
        +subscription-field("Email")

    .ui-kit__container-box
        .ui-kit__label-text.text.text_label Filter date dropdown
        +date-picker("filter-date-picker")

    .ui-kit__container-box
        .ui-kit__label-text.text.text_label Date dropdown (position to left)
        +date-picker("general-left-date-picker", true)

    .ui-kit__container-box_big
        .date-picker-container 
            .date-picker-container__left-part
                +date-picker("left-date-picker", true)
            .date-picker-container__right-part
                +date-picker("right-date-picker", true)
    
    //- Common checkboxes. Contains: text, name, flag showing is button checked or not.
    .ui-kit__container-box
        .ui-kit__label-text.text.text_label Checkbox buttons
        +checkbox("Можно курить", "check")
        +checkbox("Можно с питомцами", "check", true)
        +checkbox("Можно пригласить гостей (до 10 человек)", "check", true)

    //- Radio buttons. Must have similiar name (second parameter). Contains: text, name, flag showing is button checked or not.
    .ui-kit__container-box
        .ui-kit__label-text.text.text_label Radio buttons 
        +radio("Мужчина", "some-radio", true)
        +radio("Женщина", "some-radio")
    
    //- Toggles making from checkboxes. Contains: text, name, flag showing is toggle active or not.
    .ui-kit__container-box 
        .ui-kit__label-text.text.text_label Toggle
        +toggle("Получать спецпредложения", "first-toggle", true)
        +toggle("Получать спецпредложения", "second-toggle")

    .ui-kit__label-text.text.text_label Like button 
    .ui-kit__container-box_with-likes
        +like-button(2)
        +like-button(12)

    .ui-kit__label-text.text.text_label Rate button
    .ui-kit__container-box_with-stars
        +star-buttons(0, 5)
        +star-buttons(5, 5)
    
    .ui-kit__container-box
        .ui-kit__label-text.text.text_label Buttons 
            .form__vbox
                +button("Click me")
                +button("click me", true)
                +ghost-button("Click me")
                +ghost-button("Click me", true)
            .form__longbox
                +button-with-arrow("Перейти к оплате")

    .ui-kit__label-text.text.text_label Pagination 
        .form__pagination.pagination 
            .pagination__content
                .pagination__item.pagination__item_current 1
                .pagination__item 2
                .pagination__item 3
                .pagination__item.pagination__item_ellipsis  ...
                .pagination__item 15
                a(href="/mock/address", alt="Next").pagination__button
            .pagination__desc.text 1 – 12 из 100+ вариантов аренды

    .ui-kit__label-text.text.text_label Range slider 
        .ui-kit__container-box_for-range-slider
            +range-slider
    
    .ui-kit__container-box 
        .ui-kit__label-text.text.text_label Rich checkbox buttons 
        +checkbox-rich("Широкий коридор", "Ширина коридоров в номере не менее 91 см.", "first-rich-checkbox", true)
        +checkbox-rich("Помощник для инвалидов", "На 1 этаже вас встретит специалист  и проводит до номера.", "second-rich-checkbox")
    
    .ui-kit__container-box 
        - var expandableData = [["breakfast", false, "Завтрак"], ["table", true, "Письменный стол"], ["child-chair", true, "Стул для кормления"], ["bed", true, "Кроватка"], ["tv", false, "Телевизор"], ["shampoo", false, "Шампунь"]]
        +expandable-list("Expandable checkbox list", expandableData)

    .ui-kit__container-box
        .ui-kit__label-text.text.text_label Bullet list 
        +bullet-list(["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"])

    .ui-kit__container-box_long
        +user-review(require("../assets/user-review-img/user-01.jpg"), "Мурад Сарафанов", "5 дней назад", "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.", 12, true)

    .ui-kit__container-box_big
        +room-info(require("../assets/room-info/insert_emoticon.svg"), "Комфорт", "Шумопоглощающие стены", true)
        +room-info(require("../assets/room-info/location_city.svg"), "Удобство", "Окно в каждой из спален")


