//-

- var menuList = [["О нас", true, false], ["Услуги", false, true], ["Вакансии"], ["Новости"], ["Соглашения", false, true]]
- var menuButtons = ["Войти", "Зарегистрироваться"]

.ui-kit__header-container 

    +header(menuList, menuButtons)