@import '../form-mixins';

.checkbox {
    @include buttons-property(2rem, 2rem, 1rem, 0.4rem);
    align-self: flex-start;

    &:checked {
        border: 1px solid $purple;
        &::after, &::before {
            opacity: 1;
            visibility: visible;
        }
    }

    &::after, &::before {
        content: '';
        position: absolute;
        background: linear-gradient(180deg, $purple,$purple-second);
        height: 0.2rem;
        top: 50%;
        opacity: 0;
        visibility: hidden;
        transition: 0.2s;
    }

    &::after {
        left: 35%;
        width: 0.4rem;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    &::before {
        left: 58%;
        width: 0.8rem;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    &_as-toggle {
        @include buttons-property(4rem, 2rem, 1rem, 1rem);

        &:checked {
            border: 1px solid $purple;
            transition: 0.2s;

            &::after {
                background: $gradient-purple;
                transform: translate(1.8rem, -50%);
            }
        }

        &::after {
            content: '';
            position: absolute;
            background: linear-gradient(0, $dark-shade-25-percent 100%, $dark-shade-25-percent 100%);
            width: 1.2rem;
            height: 1.2rem;
            border-radius: 50%;
            top: 50%;
            left: 0.4rem;
            opacity: 1;
            visibility: visible;
            transform: translate(0, -50%);
            transition: 0.2s;
        }
        &::before {
            display: none;
        }
    }
}

.radio {
    @include buttons-property(2rem, 2rem, 1.4rem, 50%);

    &:checked {
        border: 1px solid $purple;
        &::after {
            opacity: 1;
            visibility: visible;
        }
    }

    &::after {
        content: '';
        position: absolute;
        background: linear-gradient(180deg, $purple,$purple-second);
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        visibility: hidden;
        transition: 0.2s;
    }
}

.rich-checkbox {
    display: flex;
    flex-direction: column;

    &__title {
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 1.8 / 1.4 * 100%;
        color: $dark-shade-75-percent;
        margin-bottom: 0.5rem;
    }

    &__desc {
        font-size: 1.2rem;
        line-height: 1.4 / 1.2 * 100%;
        color: $dark-shade-50-percent;
    }
}