// Mixin to create arrow shape. Using by date-picker calendar, on buttons and so on.
// Good way is place in inside another block to avoid some unexpected behaviour
//      when positioning elements.
// 
// We can set width, height, color (by default is white) of arrow;
//      and rotate it to look in opposite direction
//      (normally, it point out to the right side).
@mixin arrow($width, $height, $color: $white, $direction: 0) {
    width: $width;
    height: $height;
    position: relative;
    transform: rotate($direction);

    &::after, &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-70%, -50%);
        transition: 0.2s;
    }

    &::after {
        background: $color;
        width: 1.4rem;
        height: 0.2rem;
    }

    &::before {
        background: transparent;
        width: 1rem;
        height: 1rem;
        border-top: 0.2rem solid $color;
        border-right: 0.2rem solid $color;
        transform: translate(-70%, -50%) rotate(45deg);
    }
}

@mixin nav-arrow($color, $angle) {
    background: transparent;
    border-left: 0.2rem solid $color;
    border-bottom: 0.2rem solid $color;
    width: 0.8rem;
    height: 0.8rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translate(0, -75%) rotate($angle);
    transition: 0.2s;
}
