.expandable-list {

    &_is-active {

        .expandable-list__title::after {
            transform: translate(0, -25%) rotate(135deg);
        }
    }

    &__title {
        margin-bottom: 1.7rem;
        position: relative;
        z-index: 22;
        cursor: pointer;

        &::after {
            content: '';
            background: transparent;
            border-left: 0.2rem solid $dark-shade-50-percent;
            border-bottom: 0.2rem solid $dark-shade-50-percent;
            width: 0.8rem;
            height: 0.8rem;
            position: absolute;
            top: 50%;
            right: 2rem;
            transform: translate(0, -75%) rotate(-45deg);
            transition: 0.2s;
        }
    }

    &__list {
        max-height: 0;
        overflow: hidden;
        transition: 0.2s;
    }
}