.expandable-list {

    &_is-active {

        .expandable-list__title::after {
            transform: translate(0, -25%) rotate(135deg);
        }
    }

    &__title {
        margin-bottom: 1.7rem;
        position: relative;
        z-index: 22;
        cursor: pointer;

        &::after {
            content: '';
            @include input-arrow(1.8rem);
        }
    }

    &__list {
        max-height: 0;
        overflow: hidden;
        transition: 0.2s;
    }
}