.like-button {
    width: 4rem;
    height: 2rem;
    border: 0.1rem solid $dark-shade-25-percent;
    border-radius: 1rem;
    position: relative;

    &__heart {
        position: absolute;
        top: 50%;
        left: 1rem;
        width: 0.6rem;
        height: 0.6rem;
        transform: translateY(-50%) rotate(-45deg);
        //border: 0.1rem solid $dark-shade-25-percent;
        border: 0.1rem solid #c7c7cf;
        border-radius: 1rem / 50;
        border-top-color: transparent;
        border-right-color: transparent;

        &::after, &::before {
            content: '';
            width: 0.45rem;
            height: 0.45rem;
            border-radius: 80%;
            position: absolute;
            //border: 0.1rem solid $dark-shade-25-percent;
            border: 0.1rem solid #c7c7cf;
        }
        
        &::after {
            border-right-color: transparent;
            top: 0;
            left: 0;
            /* top: -0.03rem;
            left: 0.09rem; */
            transform: rotate(155deg)  translate(-40%, -30%);
        }

        &::before {
            border-bottom-color: transparent;
            bottom: 0;
            right: 0;
/*             top: -0.25rem;
            left: -0.11rem; */
            transform: rotate(25deg) translate(-30%, -40%);
        }
    }

    &__counter {}
}