.room-details {

    padding: 7rem 0 6.2rem;

    @media (max-width: $mq-tablet) {
        padding: 3rem 0;
    }

    &__sub-title {
        margin-bottom: 2rem;

        @media (max-width: $mq-tablet) {
            max-width: 30rem;
            margin: 0 auto 2rem;
        }
    }

    &__gallery {
        height: 48.5rem;

        @media (max-width: $mq-tablet) {
            height: calc(100vh - #{$header-height});
        }

        @media (max-width: $mq-mobile-large) {
            height: 48.5rem;
        }
    }

    &__gallery-grid {
        height: 100%;
        display: grid;
        grid-template: 1fr 1fr / repeat(25, 1fr);

        @media (max-width: $mq-tablet) {
            display: flex;
            flex-direction: column;
        }
    }

    &__gallery-item {
        position: relative;
        overflow: hidden;
        height: 100%;

        // Dark overlay.
        &::after {
            content: '';
            background: rgba($black, 0.3);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: 0.3s;
            opacity: 0;
            visibility: hidden;
        }

        @media (any-hover: hover) {

            &:hover {

                &::after {
                    opacity: 1;
                    visibility: visible;
                }

                & .room-details__gallery-image {
                    transform: scale(1.05);
                }
            }
        }

        & .room-details__gallery-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.3s;
        }
        
        &_big {
            grid-column: 1 / 18;
            grid-row: 1 / 3;

            @media (max-width: $mq-laptop) {
                grid-column: 1 / 14;
            }
        }

        &_small-top {
            grid-column: 18 / 26;
            grid-row: 1 / 2;

            @media (max-width: $mq-laptop) {
                grid-column: 14 / 26;
            }
        }

        &_small-bottom {
            grid-column: 18 / 26;
            grid-row: 2 / 3;

            @media (max-width: $mq-laptop) {
                grid-column: 14 / 26;
            }
        }
    }

    &__grid {
        display: grid;
        grid-template: 1fr / 1fr 1fr 1fr;
        column-gap: 1rem;

        @media (max-width: $mq-extra-large) {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__main {
        grid-column: 1 / 3;

        @media (max-width: $mq-extra-large) {
            width: 100%;
            margin-bottom: 5rem;
        }
    }

    &__book {
        grid-column: 3 / 4;
    }

    &__info {
        display: grid;
        grid-template: 1fr / 29rem 1fr;
        column-gap: 5.3rem;
        margin-bottom: 1.2rem;

        @media (max-width: $mq-tablet) {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 4rem;
        }
    }

    &__advantages {

        @media (max-width: $mq-tablet) {
            margin-bottom: 3rem;
        }
    }

    &__chart {
        width: 100%;
        height: 100%;
    }

    &__chart-container {
        width: 33.5rem;
        height: 12.4rem;
        position: relative;
    }

    &__reviews {
        max-width: 71.3rem;
        margin-bottom: 3.4rem;

        @media (max-width: $mq-tablet) {
            max-width: 40rem;
        }
    }

    &__user-review {

        &:not(:last-child) {
            margin-bottom: 2.4rem;
        }

        @media (max-width: $mq-tablet) {
            padding: $safe-padding;
        }
    }

    &__additions {
        display: grid;
        grid-template: 1fr / 29rem 1fr;
        column-gap: 7rem;

        @media (max-width: $mq-tablet) {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: $safe-padding;
        }
    }

    &__additions-column {
        max-width: 34rem;

        @media (max-width: $mq-tablet) {
            &:not(:last-child) {
                margin-bottom: 3rem;
            }
        }
    }

    &__text {
        @media (max-width: $mq-mobile-large) {
            text-align: center;
        }
    }

    &__card {
        max-width: 38rem;
    }
}