.footer {

    box-shadow: 0 0.1rem 0 rgba($purple, 0.1);

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__body {
        display: flex;
        padding: 10rem 0;
    }

    &__about {
        max-width: 26rem;
        margin-right: 4rem;
    }

    &__logo {
        margin-bottom: 2rem;
    }

    &__nav {
        width: 100%;
        display: flex;
        flex: 1 1 100%;
    }

    &__nav-column {
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
            margin-right: 5rem;
        }
    }

    &__nav-title {
        margin-bottom: 2rem;
    }

    &__subscription {
        max-width: 26rem;
    }

    &__subscription-title {
        margin-bottom: 2rem;
    }

    &__subscription-call {
        margin-bottom: 2rem;
    }

    &__foot {
        height: 7rem;
        border-top: 0.1rem solid $dark-shade-25-percent;
    }

    &__foot-content {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__socials {
        display: flex;
    }

    &__socials-link {
        display: block;
        width: 2.4rem;
        height: 2.4rem;
        margin-left: 2rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}