.footer {

    &__content {
        
    }

    &__body {
        display: flex;
        padding: 10rem 0;
    }

    &__about {
        max-width: 26rem;
    }

    &__logo {
        margin-bottom: 2rem;
    }

    &__nav {
        display: flex;
    }

    &__nav-column {
        display: flex;
        flex-direction: column;
    }
}