.footer {

    &__content {
        padding: 10rem 0;
    }

    &__body {
        display: flex;
    }

    &__nav {
        display: flex;
    }

    &__nav-column {
        display: flex;
        flex-direction: column;
    }
}