.card {
    width: 100%;
    max-width: $card-width;
    padding: $card-padding;

    background: $card-background-color;

    border: 0.1rem solid rgba($black, 0.12);
    border-radius: $brd-radius;
    box-shadow: 0 0 2.5rem rgba($black, 0.2);

    &_is-registration {
        width: $card-width;
        margin-left: 0.5rem;
    }

    &__room-card {
        max-width: 27rem;
        padding: 0;
    }

    // Each element of card is just some content within a row.
    // Each row can have different margin-bottom value, so we use modificators.
    &__row {
        margin-bottom: $card-row-bottom-margin;

        &_min-bottom-margin {
            margin-bottom: 1.3rem;
        }

        &_has-short-bottom-margin {
            margin-bottom: 1.7rem;
        }

        &_middle-bottom-margin {
            margin-bottom: 2.8rem;
        }

        &_big-bottom-margin {
            margin-bottom: 3rem;
        }

        &_without-bottom-margin {
            margin-bottom: 0;
        }

        &_has-bottom-margin-1rem {
            margin-bottom: 1rem;
        }

        &_has-bottom-margin-1-1rem {
            margin-bottom: 1.1rem;
        }

        &_has-bottom-margin-0-8rem {
            margin-bottom: 0.8rem;
        }

        &_has-bottom-margin-2rem {
            margin-bottom: 2rem;
        }

        &_has-bottom-margin-2-1rem {
            margin-bottom: 2.1rem;
        }
    }

    &__horizontal-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__button-container {
        width: 10rem;
    }

    // Styles for calculation card.
    // First of all, we need complex header element.
    &__head-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__head-no {
        display: flex;
        align-items: center;
    }

    &__head-title {

        margin-right: 0.7rem;

        span {
            font-size: 1.4rem;
        }
    }

    &__head-luxury-mark {
        color: $purple;
        font-size: 1.2rem;
        font-weight: bold;
        line-height: 125%;
        text-transform: uppercase;
        letter-spacing: -0.01rem;
        padding-top: 0.4rem;
    }

    &__head-price {
        color: $dark-shade-50-percent;
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 1.8 / 1.4 * 100%;
        letter-spacing: -0.01rem;
        padding-top: 0.4rem;

        span {
            font-size: 1.2rem;
            font-weight: normal;
            line-height: 1.8 / 1.2 * 100%;
        }
    }

    // Styles for area with calculation.
    // Need JS to interfere. Maybe need to rewrite pug and all.
    &__calculation-flex {
        display: flex;
        justify-content: space-between;

        @media (max-width: $mq-mobile-large) {
            flex-direction: column;
            padding-bottom: 1rem;
            border-bottom: 0.1rem solid $dark-shade-25-percent;
        }
    }

    &__calculation-text-plus-tip {
        display: flex;
        justify-content: space-between;
        width: 24rem;

        @media (max-width: $mq-mobile-large) {
            margin-bottom: 1rem;
        }
    }

    // Imitate icon: letter "i" inside circle with border.
    &__calculation-tip {
        width: 2rem;
        height: 2rem;
        border: 0.1rem solid $dark-shade-25-percent;
        border-radius: 50%;
        position: relative;
        top: 0.3rem;
        cursor: pointer;

        &::after, &::before {
            content: '';
            background: $dark-shade-25-percent;
            position: absolute;
        }

        &::after {
            width: 0.2rem;
            height: 0.6rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -25%);
        }

        &::before {
            width: 0.2rem;
            height: 0.2rem;
            border-radius: 50%;
            left: 50%;
            top: 22%;
            transform: translateX(-50%)
        }
    }

    &__calculation-data {
    }

    &__total {
        @media (max-width: $mq-mobile-large) {
            padding: $card-total-padding;
        }
    }

    &__total-flex {
        display: flex;
        align-items: flex-end;
    }

    &__total-delimiter {
        flex: 1 1 auto;
        border-bottom: 0.1rem dotted $dark-shade-25-percent;
    }
}