.card {
    max-width: $card-width;
    padding: $card-padding;

    border: 0.1rem solid rgba($black, 0.12);
    border-radius: $brd-radius;
    box-shadow: 0 0 2.5rem rgba($black, 0.2);

    &__row {
        margin-bottom: 2rem;

        &_min-bottom-margin {
            margin-bottom: 1rem;
        }

        &_big-bottom-margin {
            margin-bottom: 3rem;
        }

        &_without-bottom-margin {
            margin-bottom: 0;
        }
    }

    &__horizontal-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__button-container {
        width: 10rem;
    }
}