.card {
    max-width: $card-width;
    padding: $card-padding;

    border: 0.1rem solid rgba($black, 0.12);
    border-radius: $brd-radius;
    box-shadow: 0 0 2.5rem rgba($black, 0.2);

    &__row {
        margin-bottom: 2rem;

        &_big-bottom-margin {
            margin-bottom: 3rem;
        }

        &_without-bottom-margin {
            margin-bottom: 0;
        }
    }
}