//- Dropdown mixin. Get an array of options: 
//-                                         1. placeholder text
//-                                         2. list of items (names of things to be displayed)
//-                                         3. flag showing is it in "single mode"
mixin dropdown(dropdownOptions)
    - var placeholder = dropdownOptions[0]
    - var itemList = dropdownOptions[1]
    - var isCounterTotal = dropdownOptions[2]

    if isCounterTotal 
        .iqdropdown.iqdropdown_single 
            p.iqdropdown-selection= placeholder
                .iqdropdown-menu
                    each item, index in itemList 
                        .iqdropdown-menu-option(data-id="item"+index)
                            .iqdropdown-content
                                .iqdropdown-item= item
                    .iqdropdown-menu-buttons 
                        .iqdropdown-menu-button.iqdropdown-menu-button_clear Очистить
                        .iqdropdown-menu-button.iqdropdown-menu-button_apply Применить
    else
        .iqdropdown
            p.iqdropdown-selection= placeholder
                .iqdropdown-menu
                    each item, index in itemList 
                        .iqdropdown-menu-option(data-id="item"+index)
                            .iqdropdown-content
                                .iqdropdown-item= item
                    .iqdropdown-menu-buttons 
                        .iqdropdown-menu-button.iqdropdown-menu-button_clear Очистить
                        .iqdropdown-menu-button.iqdropdown-menu-button_apply Применить
