extends ../template/template.pug

block pageTitle
    | Toxin SignIn

block main 

    main.layout.layout_for-signin
        .layout__background-overlay
            .layout__background
                img(src=require('../../assets/img/registration-page-bg/registration-page-bg-01.jpg'), alt="registration section background")
            .layout__background
                img(src=require('../../assets/img/registration-page-bg/registration-page-bg-02.jpg'), alt="registration section background")
        .layout__container
            .layout__card.layout__card_is-centered
                .card
                    form(action="/change/me", method="GET", autocomplete="off").form__card
                        .card__row 
                            +card-title("Войти")
                        .card__row.card__row_has-bottom-margin-1rem
                            +card-text-field("email", "email", "Email")
                        .card__row.card__row_has-bottom-margin-2rem
                            +card-text-field("password", "pwd", "Пароль")
                        .card__row.card__row_big-bottom-margin
                            +card-wide-button("Войти")
                        .card__row.card__row_without-bottom-margin 
                            +card-footer-action("Нет аккаунта на Toxin?", "Создать")