.qs-datepicker-container {
    width: 100%;
}

.qs-controls {
    height: 6.4rem;
    background-color: $white;
    padding: 0 2rem;
}

.qs-month-year {
    color: $dark-shade-100-percent;
    font-size: 1.9rem;
    font-weight: bold;
    line-height: 2.3 / 1.9 * 100%;
}