.date-picker {

    &::placeholder {
        color: $dark-shade-75-percent;
    }
}

.date-picker-container {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    column-gap: 2rem;

    @media (max-width: $mq-mobile-large) {
        grid-template: 1fr 1fr / 1fr;
        column-gap: 0;
        row-gap: 1.5rem;
    }
}

.date-picker-wrap {
    position: relative;

    &::after {
        content: '';
        @include input-arrow(1.85rem);
    }
}

.datepicker {
    width: 32rem;
    font-family: $font-primary, sans-serif;

    border: 0.1rem solid $dark-shade-25-percent;
    border-radius: 0.4rem;
    box-shadow: 0px 10px 20px $dark-shade-5-percent;
}

.datepicker-wrapper {
    position: relative;
}

.datepicker.-from-bottom- {
    transform: translateY(0.5rem);
}

.datepicker--pointer {
    display: none;
}

.datepicker--nav {
    height: 6.4rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    border-bottom: none;
}

.datepicker--nav-action[data-action="prev"] {
    @include arrow(2.4rem, 2.4rem, $purple, 180deg);
}

.datepicker--nav-action[data-action="next"] {
    @include arrow(2.4rem, 2.4rem, $purple);
}

.datepicker--nav-title {
    color: $dark-shade-100-percent;
    font-size: 1.9rem;
    font-weight: bold;
    line-height: 2.3 / 1.9 * 100%;
    text-transform: capitalize;
}

.datepicker--content {
    padding: 0 2rem 2rem;
}

.datepicker--day-name {
    width: 4rem;
    height: 4rem;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.5 / 1.2 * 100%;
    color: $purple;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
}

.datepicker--cell-day {
    color: $dark-shade-50-percent;
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.5rem;
    height: 4rem;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;

    @media (any-hover: hover) {
        &:hover {
            background: rgba($purple, 0.5);
        }
    }

    &.-other-month- {
        color: $dark-shade-25-percent;
    }

    &.-current- {
        font-weight: bold;
        color: $white;
        background: $gradient-green;
        border-radius: 50%;
    }

    &.-range-to- {
        border-color: $purple;
        @media (any-hover: hover) {
            &:hover {
                background: rgba($purple, 0.5);
            }
        }
    }

    &.-selected-,
    &.-focus-.-selected- {
        font-weight: bold;
        color: $white;
        background: $gradient-purple;
        border-radius: 50%;
    }

    &.-range-from-.-selected-,
    &.-range-to-.-selected- {
        font-weight: bold;
        color: $white;
        background: $gradient-purple;
        border-radius: 50%;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 50%;
            height: 100%;
            background: $gradient-purple;
            opacity: 0.25;
        }
    }

    &.-range-from-.-selected- {
        &::after {
            right: 0;
        }
    }

    &.-range-to-.-selected- {
        &::after {
            left: 0;
        }
    }

    &.-in-range- {
        background: transparent;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: $gradient-purple;
            opacity: 0.25;
            z-index: -10;
        }

        @media (any-hover: hover) {
            &:hover {
                background: rgba($purple, 0.5);
            }
        }
    }
}

.datepicker--buttons {
    border-top: none;
    padding: 0 2rem 1rem;
}

.datepicker--button {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.5 / 1.2 * 100%;
    color: $purple;
    text-transform: uppercase;
    display: flex;
}

.datepicker--button[data-action="clear"] {
    justify-content: flex-start;
    order: 1;
}

.datepicker--button[data-action="today"] {
    justify-content: flex-end;
    order: 2;
}
