// colors of project

// just generic white color, needed in some cases
$white: #fff;

// main color
$dark-shade: #1F2041;

// alias to be used just in case
$dark-shade-100-percent: #1F2041;

// colors based on main color
// number is percent of transparency
$dark-shade-75-percent: rgba($dark-shade, 0.75);
$dark-shade-50-percent: rgba($dark-shade, 0.5);
$dark-shade-25-percent: rgba($dark-shade, 0.25);
$dark-shade-5-percent: rgba($dark-shade, 0.05);

// additional colors
$purple: #BC9CFF;
$purple-second: #8BA4F9;
$green: #6FCF97;
$green-second: #66D2EA;