@import './colors';
@import './fonts';
@import './variables';

:export {
    purpleColor: $purple;
    purpleColorSecond: $purple-second;
    greenColor: $green;
    greenColorSecond: $green-second;
    goldColor: $gold;
    goldColorSecond: $gold-second;
    dimColor: $dim;
    dimColorSecond: $dim-second;
    montserratFont: $font-primary;
    mqMobileLarge: $mq-mobile-large;
}