@import './colors';

:export {
    purpleColor: $purple;
    purpleColorSecond: $purple-second;
    greenColor: $green;
    greenColorSecond: $green-second;
    goldColor: $gold;
    goldColorSecond: $gold-second;
    dimColor: $dim;
    dimColorSecond: $dim-second;
}