// Some variables using by project.

// Use for border-radius.
$brd-radius: 0.4rem;

// Cards property.
$card-width: 38rem;
$card-padding: 4rem 3rem 3rem 3rem;
$card-row-bottom-margin: 2.2rem;

// Box shadow properties.
$box-shadow-properties: 0 1rem 2rem $dark-shade-5-percent;

// General header properties.
$header-height: 7.2rem;

// Header menu properties.
$header-menu-list-right-margin: 2.6rem;
$header-menu-item-space: 1.8rem;

// Room search page properties;
$search-sidebar-width: 32.6rem;
$search-sidebar-width-min: 26.6rem;
$search-area-top-padding: 3rem;

// Media queries.
$mq-extra-large: 1200px;
$mq-laptop: 1024px;
$mq-tablet: 768px;
$mq-mobile-large: 425px;
$mq-mobile-middle: 375px;
$mq-mobile-small: 320px;

$min-header-overlay-container-height: 52.6rem;
$min-landing-height: 90rem;
$min-registration-page-height: 68.3rem;
