// Some variables using by project.

// Use for border-radius.
$brd-radius: 0.4rem;

// Cards property.
$card-width: 38rem;
$card-padding: 4rem 3rem 3rem 3rem;
$card-row-bottom-margin: 2.2rem;

// General header properties.
$header-height: 7.2rem;

// Header menu properties.
$header-menu-list-right-margin: 2.6rem;
$header-menu-item-space: 1.7rem;

// Media queries.
$mq-laptop: 1024px;
$mq-tablet: 768px;
$mq-mobile-large: 425px;
$mq-mobile-middle: 375px;
$mq-mobile-small: 320px;