// Some variables using by project.

// Use for border-radius.
$brd-radius: 0.4rem;

// Cards property.
$card-width: 38rem;
$card-padding: 4rem 3rem 3rem 3rem;


// General header properties.
$header-height: 7rem;

// Header menu properties.
$header-menu-list-right-margin: 2rem;
$header-menu-item-space: 2rem;