@import 'fonts';
@import 'colors';
@import 'nullstyle';
@import 'variables';

@import 'root';

html, body {
    font-size: 1.4rem;
    font-family: $font-primary, sans-serif;
    color: $dark-shade;

    &.is-locked {
        height: 100%;
        overflow: hidden;
    }
}

@import '../main/wrappers.scss';
@import '../ui-kit/ui-kit.scss';
@import '../blocks/form/form.scss';
@import '../blocks/text/text.scss';
@import '../blocks/form/range-slider/range-slider.scss';
@import '../blocks/card/card.scss';
@import '../blocks/room-card/room-card.scss';
@import '../blocks/nav/nav.scss';
@import '../blocks/header/header.scss';
@import '../blocks/footer/footer.scss';
@import '../blocks/layout/layout.scss';
@import '../pages/search/search.scss';
@import '../pages/room/room.scss';
@import '../pages/registration/registration.scss';
@import '../pages/signin/signin.scss';
