mixin star-buttons(numFilled, maxNum)
    - var n = 0
    .star-button
        while n < numFilled 
            .star-button__entry.star-button__entry_is-filled
            - n++
        while numFilled < maxNum 
            .star-button__entry 
            - numFilled++
