.range-slider {
    width: 100%;
    height: 0.5rem;
    position: relative;

    &__wrapper {
        width: 100%;
        height: 100%;
    }

    &__thumb {
        position: absolute;
        left: 0;
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 50%;
        background-color: $green;
        margin: 0 0.7rem;
    }

    &__right {}

    &__self {}
}