extends ../template/template.pug

block content
    .wrapper 
        .flexible__wrapper

            +toxin-header

            section.search 
                .search__content
                    .container 
                        .search__filter-area 
                        .search__rooms-area

            +toxin-footer
