mixin review-counter(count)
    .room-card__review-count 
        | #{count} 
        span Отзывов

//- Make a card with general room info.
//-     We need: array of images (for top part slider),
//-              room info (including room number, price for it, is it luxury or not)
//-              and room rating info (stars and number of user reviews).
mixin room-card(roomImages, roomInfo, roomRating)

    - var roomNumber = roomInfo[0]
    - var roomPrice = roomInfo[1]
    - var isRoomLuxury = roomInfo[2]
    
    - var starsIsFilled = roomRating[0]
    - var reviewCount = roomRating[1]

    .card.card__room-card.room-card 
        .room-card__container 
            .room-card__top
                .room-card__swiper
                    .swiper-container
                        .swiper-wrapper
                            each roomImage in roomImages
                                .swiper-slide
                                    img(src=roomImage, alt="Room Image").room-card__image
                        .swiper-pagination
                        .swiper-button-prev
                        .swiper-button-next
            .room-card__body
                .room-card__info 
                    +card-head-total(roomNumber, roomPrice, isRoomLuxury)
                .room-card__hr
                .room-card__rating
                    +star-buttons(starsIsFilled, 5)
                    +review-counter(reviewCount)