mixin review-counter(count)
    .room-card__review-count 
        | #{count} 
        span отзывов

mixin room-card(roomImage, roomInfo, roomRating)

    - var roomNumber = roomInfo[0]
    - var roomPrice = roomInfo[1]
    - var isRoomLuxury = roomInfo[2]
    
    - var starsIsFilled = roomRating[0]
    - var reviewCount = roomRating[1]

    .card.card__room-card.room-card 
        .room-card__container 
            .room-card__top 
                .room-card__image
                    img(src=roomImage, alt="Room Image")
            .room-card__body
                .room-card__info 
                    +card-head-total(roomNumber, roomPrice, isRoomLuxury)
                .room-card__rating
                    +star-buttons(starsIsFilled, 5)
                    +review-counter(reviewCount)