.room-card {

    border: transparent;
    box-shadow: 0 1rem 2rem $dark-shade-5-percent;

    // Top part of card with image slider
    &__top {
        width: 100%;
        height: 15rem;
        overflow: hidden;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__swiper {
        height: 100%;
    }

    &__info {
        margin-bottom: 1rem;
    }

    &__hr {
        width: 100%;
        height: 0.1rem;
        background: $dark-shade-10-percent;
        margin-bottom: 0.8rem;
    }

    &__body {
        padding: 2rem 1.7rem 1.9rem 2rem;
    }

    &__rating {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__review-count {
        color: $dark-shade-50-percent;
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 1.8 / 1.4 * 100%;

        span {
            font-size: 1.2rem;
            font-weight: normal;
            line-height: 1.8 / 1.2 * 100%;
        }
    }
}

// Swiper slider styles

.swiper-container {
    height: 100%;

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background: linear-gradient(90deg, rgba($black, 0.3) 0%, rgba($black, 0.1) 50%, rgba($black, 0.3) 100%);
        opacity: 0;
        transition: ease-in 0.2s;
    }

    @media (any-hover: hover) {
        &:hover {

            &::after {
                opacity: 1;
            }

            .swiper-button-prev,
            .swiper-button-next {
                opacity: 1;
            }
        }
    }
}

.swiper-button-prev,
.swiper-button-next {
    opacity: 0;
    transition: 0.2s;
    z-index: 22;

    &::after {
        font-size: 0;
        left: calc(50% - 0.4rem);
    }
}

.swiper-button-prev {
    
    &::after {
        @include nav-arrow($white, 45deg);
    }
}

.swiper-button-next {
    
    &::after {
        @include nav-arrow($white, -135deg);
    }
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    position: absolute;
    width: 42rem;
    bottom: 1.5rem;
    right: 1.5rem;
}

.swiper-pagination-bullet {
    width: 0.75rem;
    height: 0.75rem;
    opacity: 1;
    background: transparent;
    border: 0.1rem solid $white;
    border-radius: 50%;
    transition: 0.2s;
}

.swiper-pagination-bullet-active {
    background: $white;
    width: 0.75rem;
    height: 0.75rem;
    border: transparent;
    border-radius: 50%;
    transition: 0.2s;
}
