mixin subscription-field(placeholder)
    label.form__label
        .form__subscription.subscription
            input(type="email", name="subscription", placeholder=placeholder).form__text-field.subscription__field
            button(type="submit").subscription__button