mixin dropdown(placeholder, itemList)
    .iqdropdown
        p.iqdropdown-selection 
            .iqdropdown-menu 
                each item in itemList 
                    .iqdropdown-menu-option
                        .iqdropdown-item=item