mixin dropdown(placeholder, itemList)
    .dropdown
        .dropdown__field
            .dropdown__menu 
                each item in itemList 
                    .dropdown-menu-option
                        .dropdown-item=item