mixin dropdown(placeholder, itemList, isCounterTotal)
    if isCounterTotal 
        .iqdropdown.iqdropdown_single 
            p.iqdropdown-selection= placeholder
                .iqdropdown-menu
                    each item, index in itemList 
                        .iqdropdown-menu-option(data-id="item"+index)
                            .iqdropdown-content
                                .iqdropdown-item= item
    else
        .iqdropdown
            p.iqdropdown-selection= placeholder
                .iqdropdown-menu
                    each item, index in itemList 
                        .iqdropdown-menu-option(data-id="item"+index)
                            .iqdropdown-content
                                .iqdropdown-item= item
