mixin dropdown(placeholder, itemList)
    .iqdropdown
        p.iqdropdown-selection
            .iqdropdown-menu
                each item, index in itemList 
                    .iqdropdown-menu-option(data-id="item"+index)
                        .iqdropdown-menu-option__container 
                            .iqdropdown-item= item
