mixin dropdown(placeholder, itemList)
    .dropdown
        .dropdown__field Сколько гостей
        .dropdown__menu.dropdown__menu_is-hidden
            each item in itemList 
                .dropdown__item
                    .dropdown__name.text.text_label=item
                    .dropdown__counter 
                        .dropdown__counter-button.dropdown__counter-button_minus.dropdown__counter-button_disabled
                        .dropdown__counter-num.text.text_label 0
                        .dropdown__counter-button.dropdown__counter-button_plus