//- Header
mixin header(menuList, menuButtons, userName)
    header.header 
        .container 
            .header__content 
                .header__logo 
                    img(src=require('../assets/img/toxin-logo.svg'), alt="Toxin Logo")
                .header__nav
                    +nav(menuList)
                    if userName
                        .header__nav-user-section
                            .header__nav-user-display.text.text_is-light= userName
                    else
                        .header__nav-buttons
                            - var ghostButtonText = menuButtons[0]
                            - var normalButtonText = menuButtons[1]
                            +ghost-button(ghostButtonText)
                            +button(normalButtonText)
