.header {
    height: $header-height;
    box-shadow: 0 1rem 2rem $dark-shade-5-percent;
    position: relative;
    transition: 0.3s;

    &::after {
        content: '';
        background: $white;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        opacity: 0;
        visibility: hidden;
        z-index: 10;
        transition: 0.3s;
    }

    &.is-active {
        height: 100vh;

        &::after {
            opacity: 1;
            visibility: visible;
            height: 100vh;
        }

        .header__nav {
            display: flex;
            flex: 1 1 auto;
        }

        .header__menu { 
            height: 100vh;
            flex-direction: column;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 0)
        }

        .header__nav .nav .nav__list {
            flex-direction: column;
        }
    }

    &_is-fixed-at-top {
        position: fixed;
        top: 0;
        left: 0;
    }

    &__content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: $mq-laptop) {
            height: 100%;
            z-index: 15;
        }
    }

    // Toxin logo. Maybe make width and height variables?
    &__logo {
        width: 10.5rem;
        height: 4rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__nav {

        @media (max-width: $mq-laptop) {
            display: none;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
    }

    &__menu-buttons {
        display: grid;
        grid-template: 3.4rem / 8.7rem 19.6rem;
        column-gap: 2rem;
        height: 3.4rem;
    }

    // Section with user name when logged in. Do we need some actions under it?
    &__menu-user-section {
        height: 100%;
        padding: 0 2rem;
        border-left: 0.1rem solid $dark-shade-10-percent;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // Burger
    &__burger {
        width: 2.8rem;
        height: 2rem;
        display: none;
        position: relative;
        z-index: 22;

        &::after, &::before, span {
            content: '';
            background: $dark-shade-50-percent;
            width: 100%;
            height: 0.2rem;
            position: absolute;
            transition: 0.3s;
        }

        &::after {
            top: 0;
            left: 0;
        }

        &::before {
            bottom: 0;
            left: 0;
        }

        span {
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
        }

        @media (max-width: 1024px) {
            display: block;
        }

        &.is-active {

            &::after {
                transform-origin: center;
                transform: rotate(45deg);
                top: calc(50% - 0.1rem);
            }

            &::before {
                transform-origin: center;
                transform: rotate(-45deg);
                bottom: calc(50% - 0.1rem);
            }

            span {
                width: 0;
            }
        }
    }
}