.header {
    height: 7rem;
    box-shadow: 0 1rem 2rem $dark-shade-5-percent;

    &__content {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        width: 10.5rem;
        height: 4rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
    }

    &__nav-buttons {
        display: grid;
        grid-template: 3.4rem / auto auto;
        column-gap: 2rem;
        height: 3.4rem;
    }

    &__nav-user-section {
        height: 100%;
        padding: 0 2rem;
        border-left: 0.1rem solid $dark-shade-10-percent;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}