// Property for checkbox and radio elements (and for imitated toggles).
// We need different size and border radius of elements for each input type.
@mixin elements-property($width, $height, $margin-right, $border-radius) {
    display: block;
    flex: 0 0 auto;
    appearance: none;
    width: $width;
    height: $height;
    margin-right: $margin-right;
    border: 1px solid $dark-shade-25-percent;
    border-radius: $border-radius;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
}

// Small gray arrow on the right side of inputs that indicate that there is dropdown.
@mixin input-arrow($right-position) {
    background: transparent;
    border-left: 0.2rem solid $dark-shade-50-percent;
    border-bottom: 0.2rem solid $dark-shade-50-percent;
    width: 0.8rem;
    height: 0.8rem;
    position: absolute;
    top: 50%;
    right: $right-position;
    transform: translate(0, -75%) rotate(-45deg);
    transition: 0.2s;
}

