@import 'form-mixins';

.form {

    &__label {

        &_with-checkbox {
            display: flex;
            align-items: center;
            margin-bottom: 1.1rem;
            transition: 0.2s;

            // TODO: Fix for those checkboxes, that have limited width.
            //max-width: 25rem;
        }
    }

    &__label-text {
        margin: 0 0 0.5rem 0;

        &_margin-bottom-large {
            margin: 0 0 1.5rem 0;
        }
    }

}

@import './text-field/text-field.scss';
@import './checkbox/checkbox.scss';
@import './arrow/arrow.scss';
@import './dropdown/dropdown.scss';
@import './like-button/like-button.scss';
@import './star-button/star-button.scss';
@import './button/button.scss';
@import './bullet-list/bullet-list.scss';
@import './pagination/pagination.scss';
@import './range-slider/range-slider.scss';
@import './user-review/user-review.scss';
@import './room-info/room-info.scss';
@import './datepicker/datepicker.scss';
@import './expandable-list/expandable-list.scss';
@import './subscription/subscription.scss';