include ../../blocks/form/dropdown/dropdown.pug

form.form
    label.form__label 
        .form__label-text.text.text_label Text field
        input(type="text", name="text", placeholder="Text sample").form__text-field
    label.form__label
        .form__label-text.text.text_label Email field
        input(type="email", name="text", placeholder="Email sample").form__text-field
    label.form__label
        .form__label-text.text.text_label Dropdown
        +dropdown("Сколько гостей", ["One", "Two", "Three"])
    label.form_label
        .form__label-text.text.text_label Masked Text Field 
        input(type="num", name="masked-date").form__text-field.form__text-field_masked

